[Desktop Entry]
Type=Application
Name=Restart QR Scanner
Comment=
Icon=lxterminal
NoDisplay=false
Exec=/usr/bin/lxterminal -e python3 /qrscanner.py
NotShowIn=GNOME;KDE;XFCE;